<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qualified Parts List</title>
	<link type="text/css" rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="/dist/css/app.css" />
	<script src="/node_modules/angular/angular.js"></script>
	<script src="/dist/js/controller.js"></script>
	<script src="/dist/js/app.js"></script>
</head>

<body ng-app="QualifiedPartsList">

	<div class="container-fluid body-content" ng-controller="QualifiedPartsListController">
        <h1>{{ title }}</h1>
        
        <!-- Build your app here -->


        <hr />
        <footer>
            <p>&copy; Net-Inspect</p>
        </footer>

	</div> 

</body>
</html>